.contacts{
    height: 80vh;
}

.contacts-box{
    position: relative;
    top: 15%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
    background-color: white;
    color: #3E2E1E;
    border-radius: 25px;
    text-align: center;
}

.contacts-box h1{
    padding-top: 5%;
    font-size: 100px;
    -webkit-text-stroke: 2px;
}

.contacts-box .spisok-contacts{
    width: 100%;
}

.contacts-box .spisok-contacts a{
    text-decoration: none;
    font-size: 30px;
    -webkit-text-stroke: 0.5px;
    color: #3E2E1E;
}

.contacts-box .spisok-contacts a .icon{
    display: inline-block;
    font-size: 100px;
    margin-right: 3%;
    margin-left: 3%;
}
/* /contacts */

@media (max-width: 769px) {
    .contacts{
        height: 95vh;
    }
    
    .contacts-box{
        top: 20%;
        width: 90%;
        height: 400px;
    }
    
    .contacts-box h1{
        font-size: 50px;
        -webkit-text-stroke: 1px;
    }
    
    .contacts-box .spisok-contacts{
        padding-top: 15%;
    }

    .contacts-box .spisok-contacts a{
        font-size: 25px;
    }
    
    .contacts-box .spisok-contacts a .icon{
        display: inline-block;
        font-size: 50px;
        margin-right: 5%;
        margin-left: 5%;
    }
}